// 颜色
.text-blue {
  color: #1890ff;
}
.text-red {
  color: red;
}
.text-grey {
  color: #8a8a8c;
}

// 
.mart10 {
  margin-top: 10px;
}
.marb10 {
  margin-bottom: 10px;
}
.marl10 {
  margin-left: 10px;
}
.marr10 {
  margin-right: 10px;
}